html {
	height: 100%;
}

body {
	font-family: 'Open Sans Condensed';
	height: 100%;
	margin: 0px;	
}

h1,h2,h3 {
	/*font-family: 'Covered By Your Grace';*/
}

a:link {
	text-decoration: none; 
	color: #000000;
	outline: none;
} 

img {
	border-style: none;
} 

form {
	display: inline-block;
}

#main {
	height: 100%;
	position: relative;
	margin-left: 20px;
}

#top_pane {
	height: 30px;
	width: 100%;
}

#top_pane div {
	display: inline-block;
}


#logo {
	width: 8em;
	min-height: 8em;	
}

.profile_thumb {
	display: inline-block;
	width: 25%;
	height: 35%;
	margin: 0 auto;
}

.profile_thumb img {
	width: 100px;
	height: 100px;
}

#footer {
	text-align: center;
	margin: 0 auto;
}

#slideshow {
	width: 600px;
	height: 90%;
	/*ertical-align: top*/
	/*align: center;*/
	/*background-color: purple;*/
	/*text-align: center;*/
	/*height: 600px; line-height: 600px; text-align: center;*/
	position: relative;
}

#slideshow img {
	height: auto;
	max-width: 600px;
	max-height: 90%;
	margin: 0 auto;
	/*text-align: center;
	vertical-align: middle;*/
}

#section_pane, #thumbnails, #thumbnail_pane, #center_pane, #display_pane, #details_pane {
	position: relative;
	display: inline; /*inline-block;*/
	float: left;
	/*display: inline; /* leading asterisk IS correct */
	/*display: inline;*/
	/*text-align: center;*/
}

#section_pane {
	width: 260px;
	height: 90%;
	vertical-align: top;
	text-align: center;
	font-size: 1em;
	font-family: 'Open Sans Condensed';
	/*font-weight: 200;*/
	color: #000000;
	/*background-color: green;*/
}

#artist_name {
	font-size: 1.6em;
	font-weight: bold;
	/*width: 100%;
	height: 60px;*/
	line-height: 50px;
	color: black;
}

#thumbnails {
	width: 150px;
	height: 90%;
	/*overflow: hidden;*/
	text-align: center;
	/*background-color: lightblue;*/
}

#thumbnail_pane {
	width: 150px;
	/*height: 90%;
	overflow: auto;
	overflow-y: scroll;
	overflow-x: none;*/
	/*background-color: blue;*/
}

#center_pane {
	vertical-align: top;
	width: 600px;
	height: 90%;
	/*background-color: yellow;*/
}

#display_pane {
	width: 600px;
	height: 90%;
	/*ertical-align: top*/
	/*align: center;*/
	/*background-color: purple;*/
	/*text-align: center;*/
	/*height: 600px; line-height: 600px; text-align: center;*/
}

#display_pane img {
	height: auto;
	max-width: 600px;
	max-height: 90%;
	margin: 0 auto;
	/*text-align: center;
	vertical-align: middle;*/
}

#details_pane {
	width: 250px;
	height: 90%;
	vertical-align: top;
	/*background-color: gray;*/
}

#details {
	margin: .2em, 0em, 0em, .5em; /*.5em auto;*/
	font-size: .8em;
	line-height: 1.2em;
	font-family: 'Open Sans Condensed';
	/*font-weight: bold;*/
	color: black;
}

.contact_pane {
	/*width: 600px;*/
	height: 100px;
	line-height: 100px;
	display: block;
	/*ertical-align: top*/
	/*align: center;*/
	/*background-color: purple;*/
	/*text-align: center;*/
	/*height: 600px; line-height: 600px; text-align: center;*/
}

.contact_cell {
	/*width: 600px;*/
	height: 100px;
	line-height: 100px;
	display: inline;
	vertical-align: middle;
	float: left;
	/*ertical-align: top*/
	/*align: center;*/
	/*background-color: purple;*/
	/*text-align: center;*/
	/*height: 600px; line-height: 600px; text-align: center;*/
}

.contact_cell p {
	/*width: 600px;*/
	height: 100px;
	line-height: 100px;
	display: inline;
	vertical-align: middle;
	font-size: 24px;
	/*ertical-align: top*/
	/*align: center;*/
	/*background-color: purple;*/
	/*text-align: center;*/
	/*height: 600px; line-height: 600px; text-align: center;*/
}
.contact_pane img {
	/*height: auto;
	max-width: 600px;
	max-height: 90%;
	margin: 0 auto;*/
	/*text-align: center;
	vertical-align: middle;*/
}





#tagline {
}

#header div {
	display: inline-block;
	width: 25%;
}

#header form {
	width: 600px;
}

.thumbnail {
	margin-bottom: 0px;
}

.thumbnail img {
	width: 80px;
}

.spacer {
	/*font-size: 2em;*/
	height: 25px;	
	/*background-color: lightgray;*/
}

.section_header:hover {
	cursor: pointer;
}

#credits {
	position: fixed;
	bottom: 10px;
	margin: 0 auto;
	width: 250px;
	vertical-align: bottom;
	font-size: .35em;
	/*background-color: lightgreen;*/
}

.image_collection {
}

.image_location {
}

.admin_thumbnail_image {
	width: 50px;	
}

#terms {
	margin-top: 5em;
}

#terms p {
	margin-top: 1em;
}

table#admin_table, #admin_table td {
	border: 1px solid black;
}

.thinborder {
	border: 1px solid black;
	border-radius: .5em;
	radius: 1em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	margin: .5em;
	padding: .5em;
}

.updated {
	color: green;
	margin-left: 5em;
	margin-right: 5em;
}





#commissions {
	height: 100%;
	width: 100%;
	vertical-align: middle;	
	margin-top: 15%;
	line-height: 3em;
	font-size: 2em;
	text-align: center;
}

#contact_buttons {
	height: 70%;
	width: 100%;	
}


.contact_pane {
	/*width: 600px;
	height: 100px;
	line-height: 100px;*/
	
	text-align: center;
	display: inline;
	vertical-align: middle;
	/*float: left;*/
	/*align: center;*/
	/*background-color: purple;*/
	/*text-align: center;*/
	/*height: 600px; line-height: 600px; text-align: center;*/
	margin-left: auto;
    margin-right: auto;
}

.contact_cell {
	/*width: 600px;
	height: 100px;
	line-height: 100px;*/
	display: inline;
	vertical-align: middle;
	text-align: center;
	float: none;
	/*float: left;*/
	/*ertical-align: top*/
	/*align: center;*/
	/*background-color: purple;*/
	/*text-align: center;*/
	/*height: 600px; line-height: 600px; text-align: center;*/
    margin-left: auto;
    margin-right: auto;
}


.contact_cell p {
	/*width: 600px;*/
	/*height: 100px;
	line-height: 100px;*/
	display: block;
	vertical-align: middle;
	font-size: 36px;
	float: none;
	font-weight: bold;
	/*ertical-align: top*/
	/*align: center;*/
	/*background-color: purple;*/
	/*text-align: center;*/
	/*height: 600px; line-height: 600px; text-align: center;*/
}


.contact_pane img, #one img, #two img, #three img, #four img {
	height: 60%;
	/*max-width: 600px;
	max-height: 90%;*/
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
	/*display: block;*/
	vertical-align: middle;
}




#one {
	height: 45%; /*200px*/
	min-height: 45%; /*200px*/
	width: 50%;
	/*background-color: green;*/	
	display: inline;
	float: left;
	text-align: center;
}

#two {
	height: 45%; /*200px*/
	min-height: 45%; /*200px*/
	width: 50%;
	/*background-color: yellow;*/	
	display: inline;
	float: left;
	text-align: center;
}

#three {
	height: 45%; /*200px*/
	min-height: 45%; /*200px*/
	width: 50%;
	/*background-color: blue;*/	
	display: inline;
	float: left;
	text-align: center;
}

#four {
	height: 45%; /*200px*/
	min-height: 45%; /*200px*/
	width: 50%;
	/*background-color: red;*/	
	display: inline;
	float: left;	
	vertical-align: middle;
	text-align: center;
}
