body {
	
}
#main {
	text-align: center;
	width: 75%;
	margin: 0 auto;
}
#main p {

}
h1,h2,h3 {
	font-family: sans-serif;
font-family:'Open Sans Condensed' , sans-serif;
}
img {
}
#main p {
	max-width: 900px;
	margin: 0 auto;
}
#logo {
	width: 8em;
	min-height: 8em;
	
}
.column {
	width: 40%;
	

}
.quadrant {
	vertical-align: middle;
	display: inline-block;
	margin: 0 auto;
}
.quadrant div {

	vertical-align: middle;
}
#nw, #ne, #se, #sw {
	width: 40%;
	min-height: 20em;
}
#sw img {
	width: 10em;
}
#top_bar {
	
}
.profile_thumb {
	display: inline-block;
	width: 25%;
	height: 35%;
	margin: 0 auto;

}
.profile_thumb img {
	width: 100px;
	height: 100px;
}
#center_pane {
	margin-top: 2em;
	margin-bottom: 2em;
}
#center_pane > div {
	display: inline-block;
	vertical-align: middle;
	width: 41%;
	text-align: left;
}
.center img {
	width: 90%;
	vertical-align: middle;
}
.wing {
	width: 32%;
}
#bottom_note {
}
#footer {
	text-align: center;
	margin: 0 auto;
}
